{% extends "base.html" %}

{% block content %}
  <body>
      <div class="center">
        <p>andrea's website</p>
        <header>
          <nav class="nav">
	  {% include "nav.html" %}
            <!--<ul>
	      <li><a href="{{ get_url(path="index.html") }}">Home</a></li>
	      <li><a href="{{ get_url(path="music/") }}">Music</a></li>
              <li><a href="blog">Blog</a></li>
              <li><a href="http://localhost/my_website/index.html">Games</a></li>
              <li><a href="http://localhost/my_website/index.html">Books</a></li>
	    </ul>--->
          </nav>
        </header>
        <figure class="pfp">
          <img class="pic" src="me.jpg" alt="" />
        </figure>
        <article>
          <p class="introduction">
          Heyyyyyyyyy everyone and welcome and to my website! My name is Andreas Dimizas and i am a 21 year old student from Athens.I am currently pursuing my degree in 
          Informatics and Computer Engineering so definitely  expect to come across some it related content here (i 'll be posting soon hopefully). I am more than 
          excited to finally be able to share my knowlege and showcase my interests  through this page. As you probably have guessed by now, i am really into computers 
          but other than that i really enjoy creating music and designing low poly 3D graphics inspired by the aesthetics of retro gaming consoles. 
          Plese feel free to explore... i am sure you will find something interestig. I would really like to hear your thoughts and perspective on anything that stood 
          out to you. At the end of the day one of the reasons i created this page was to be able to communicate and exchange ideas with other like-minded people. 
          (individuals). Anywayss, thanks for stopping by and taking the time to check out my page.Hope you find it interesting and engaging(at the end?).If you enjoy your 
          stay here plese cosider signing my guestbook before leaving(on your way out).
          </p>
        </article>

          <footer>
              <a href="https://landchad.net" target="_blank">
          <img src="Untitled.gif" target="_blank" alt="landchad.net">
       <a href="wiby.gif" target="_blank">
          <img src="wiby.gif" target="_blank" alt="wiby.me">
        </a>
        <a href="https://sadgrl.online/" target="_blank">
          <img src="sadgirl.gif" alt="sadgrl.online">
        </a>
        <a href="https://nuange.neocities.org/" target="_blank">
          <img src="nua.gif" alt="nuange.neocities.org">
        </a>
        <p class="copyright">© Copyright 2023 Andreas Dimizas. All rights reserved.<p>
          </footer>
      </div>
  </body>
</html>
{% endblock content %}
