          <p class="introduction">
          Hey everyone, welcome to my website! My name is Andreas Dimizas and i am a 21 year old student from Athens.I am currently pursuing my degree in 
          Informatics and Computer Engineering so definitely  expect to come across some it related content here . I am more than 
          excited to finally be able to share my knowlege and showcase my interests  through this page. As you probably have guessed by now, i am really into computers 
          but other than that i really enjoy creating music and designing low poly 3D graphics inspired by the aesthetics of retro gaming consoles. 
          Plese feel free to explore... i am sure you will find something interestig. I would really like to hear your thoughts and perspective on anything that stood 
          out to you. At the end of the day one of the reasons i created this page was to be able to communicate and exchange ideas with other like-minded people. 
          Anywayss, thanks for stopping by and taking the time to check out my page.Hope you find it interesting and engaging.
          </p>
