{% extends "base.html" %}

{% block content %}
<body>
    <div class="con">
    <header><h1 class="m">Music</h1>
    <nav class="nav">

	    {%include "nav.html" %}        
	<!---<ul>
          <li><a href="home">Home</a></li>
          <li><a href="music">Music</a></li>
          <li><a href="blog">Blog</a></li>
          <li><a href="http://localhost/my_website/index.html">Games</a></li>
          <li><a href="http://localhost/my_website/index.html">Books</a></li>
	</ul>--->
      </nav> 
    </header>
    <h2>just some music i like recently </h2>
  
    <section class="music"> 
       
      <ul>
        <li> <a href="https://www.youtube.com/watch?v=dCmxLhjO000&t=1937s">DJ Rozwell - NONE OF THIS IS REAL</a></li>
        <li> <a href="https://www.youtube.com/watch?v=KoSP14R7-p8">Audio Diary - Casper McFadden (Full Album 2020)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=Ljtxo_7giX0">☆HOM.010☆ deejay chainwallet</a></li>
        <li> <a href="https://www.youtube.com/watch?v=M6yUSy0Mfgk">lilien rosarian - every flower in my garden (full album)</a></li>
        <li> <a href="https://soundcloud.com/user-45741143/sets/lines-between-the-doorframe">lines between the doorframe</a></li>
        <li> <a href="http://localhost/my_website/index.html">[2022] Asian Glow, Weatherday - Weatherglow</a></li>
        <li> <a href="https://www.youtube.com/watch?v=ddsIxI0Aw-A">https://www.youtube.com/watch?v=ddsIxI0Aw-A</a></li>
        <li> <a href="https://www.youtube.com/watch?v=1Vr-cgv_gno&t=1014s">Avenade - It's a Whimsical Afterlife (Full Album Stream)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=zpbzpOD0enk">vibing rn ... because its hotgirl summer (feat. j7uly)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=XLN2M-9ARGU&list=OLAK5uy_l4vE0KAfgXzHwiH-0N6AmR78Dd47V55-g">Tokyo Ghetto Pussy Disco 2001</a></li>
        <li> <a href="https://www.youtube.com/watch?v=rOQClxYt3_I&t=1635s">Emray - Kya~ncer (Full Album)</a></li>
        <li> <a href="https://www.youtube.com/watch?v=wSPxz1CiGWY&list=RDMM&start_radio=1&rv=dbH9_AT3JPw">TOKYOPILL - A B A N D O N T H E F L E S H !</a></li>
        <li> <a href="https://www.youtube.com/watch?v=HlaU2-Rfl7c&list=PLEyHhmA5qZUEGYkT7FV3g8mNoyXnMlYNz">2 0 2 1 - Yugen Molly Uploads Music</a></li>
        <li> <a href="https://www.youtube.com/watch?v=H2GCFjp7ytk&list=PLEyHhmA5qZUErRh282bSloYNe-nGs99wS&index=2">Day by day, in every way, I'm</a></li>
        <li> <a href="https://www.youtube.com/watch?v=hFgtAHpR66k&list=OLAK5uy_kSAaFaoqu4dwXiIb2nD9SGZ4NSzIxLcmQ">kuroneko</a></li>
        <li> <a href="https://www.youtube.com/watch?v=1Mi-mtfFmzc">Giles Corey - Hinterkaifeck [Full EP]</a></li>
        <li> <a href="https://www.youtube.com/watch?v=yZDEyFpL15Q&list=PLEyHhmA5qZUHQYFUiIbG6ywqB2SXTrCCC&index=4">Patricia Taxxon - Everything Hurts</a></li>
      </ul>
    </section>
</div>
</body>
</html>
{% endblock content %}
